@import url('https://fonts.googleapis.com/css2?family=Slabo+13px&display=swap');
.slabo {
    font-family: 'Slabo 13px', serif;
}

.sans {
    font-family: sans-serif, serif;
}

.times {
    font-family: "times New Roman", serif;
}

.whiteFont {
    color: white;
}

html, body {
    margin: 0;
    padding: 0;
}

a, a:hover, a:active, a:visited {
    text-decoration: none;
    color: inherit;
}

strong {
    font-size: 30px;
}

body {
    background: black;
}

.homeBar {
    height: 6vh;
    background: cornflowerblue;
}

ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100%;
}

.homeBarButton {
    box-sizing: border-box;
    font-size: large;
    margin: 0;
    padding: 10px;
    display: flex;
    align-items: center;
    background: inherit;
    height: 100%;
}

.homeBarButton:hover {
    background: rgba(0, 0, 0, 0.4);
}

#woodieOnline {
    margin-left: auto;
    margin-right: 10px;
    font-size: x-large;
    display: flex;
}

#borderButton {
    border-right: 4px solid royalblue;
}

.contentCard {
    display: flex;
    justify-content: left;
    align-content: start;
    flex-wrap: wrap;
    min-width: 100%;
    height: 40vh;
    backdrop-filter: blur(15px);
    border: 4px solid black;
    border-radius: 40px;
    padding: 20px 20px 40px;
    margin: 15px;
}
.contentCard:hover {
    backdrop-filter: blur(60px) grayscale(100%) brightness(40%);
    color: white;
}
.contentCardTitle {
    padding-left: 7vw;
    font-size: 2.4rem;
    height: 35px;
    /* border: 8px solid black; */
}

.contentCardText {
    padding: 5px 20px 20px;
    font-size: 1.4rem;
    text-indent: 40px;
    margin: 0;
    /* border: 8px solid black; */
}